<footer>
    <div class="section bg-dark">
        <div class="container">
            <div class="row g-3 align-items-center">
                <div class="col-12 col-md-6 text-center text-md-start">
                    <p>&copy; 2023 Mzetiri Projects, All Rights Reserved.</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-end">
                    <ul class="list-inline-dash">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
</footer>

<!-- ***** JAVASCRIPTS ***** -->
<script src="/assets/plugins/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUma4oJ7_6VbfGNdUYdv6VQ0Ph07Fz0k8"></script>
<script src="/../polyfill.io/v3/polyfill.minc677.js?features=IntersectionObserver"></script>
<script src="/assets/plugins/plugins.js"></script>
<script src="/assets/js/functions.min.js"></script>
</body>

</html>