<footer id="footerParallax" class="footer">
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="footer-copyright">
                        <span>&copy; KaNyamazane Medical Centre 2021,  All Rights Reserved.</span>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="footer-social">
                        <a class="facebook" href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="twitter" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="instagram" href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</footer>

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/functions.js"></script>
<!-- Jquery Min JS -->

<!-- Popper Min JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Waypoints Min JS -->
<script src="/assets/js/waypoints.min.js"></script>
<!-- Counter UP Min JS -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- Jquery UI JS -->
<script src="/assets/js/jquery.ui.js"></script>

<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-89540131-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-89540131-1');
</script>
<!-- Main JS -->
<script src="/assets/js/script.js"></script>
</body>

<!-- Mirrored from landing.zytheme.com/kear/landing-click.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Nov 2020 14:45:13 GMT -->

</html>