<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from mono.flatheme.net/home/business-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Jun 2022 14:26:12 GMT -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Mzetiri Projects</title>
    <!-- Favicon -->
    <link href="/assets/images/favicon.png" rel="shortcut icon" />
    <!-- CSS -->
    <link href="/assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="/assets/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/assets/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet" />
    <link href="/assets/plugins/sal/sal.min.css" rel="stylesheet" />
    <link href="/assets/css/theme.min.css" rel="stylesheet" />
    <!-- Fonts/Icons -->
    <link href="/assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/assets/plugins/font-awesome/css/all.css" rel="stylesheet" />
</head>

<body data-preloader="1"></body>

</html>